
html, body{
    padding: 0;
    margin: 0;
}

a {
    color: black;
}

a:hover {
    color: rgb(92, 90, 90);
}


img {
    width: 100%;
    height: auto;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-container{
    background-color: #EBEF2E;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "box1 box2"; 
}

.container {
    grid-area: box1;
}

.row {
    margin-top: 150px;
    margin-left: 150px;
    width: 100%;
    
}

img[alt$="kubocoders"] {
    margin-bottom: 50px;
} 

.img-container {
    grid-area: box2;
    background-image: url("../img/building.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

@media screen and (max-width: 360px) {
    .form {
      width: 100%;
      height: auto;
      position: relative;
      
    }
    body{
        background-color: black;
    }
  }
  
  /* @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } */