body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #EBEF2E;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #000;
  color: white;
  border: none;
}

.sidebar a:hover:not(.active) {
  /*background-color: #000;
   color: white; */
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


/*drop-down-btn*/
.emp-btn {
  padding: 15px 15px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
/* Add an active class to the active dropdown button */
.active {
  background-color: #000;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.employee-dropdown-container {
  display: none;
  background-color: #c9cc26;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}