body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}


img {
  background-position: center;
  width: 100%;
  height: auto;
  margin-top: 15px;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #EBEF2E;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #000;
  color: white;
  border: none;
}

.sidebar a:hover:not(.active) {
   background-color: #000;
   color: white; 
}

a:active {
  background-color: black;
  color: wheat;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}





 /* 
 @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}


@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  } 
} */





